<h1>Recordings</h1>

<table class="table table-striped">
  <thead>
    <th>Subject</th>
    <th>Duration</th>
  </thead>
  <tbody>
    <% if @recordings.any? %>
      <% @recordings.each do |recording| %>
        <%= render recording %>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'More recordings...', recordings_path, class: 'btn btn-primary' %>
